* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

.home,
.products {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.aboutContainer {
  background-image: url("images/img-2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 90vh;
  flex-direction: column;
}

.aboutContainer h1 {
  font-size: 75px;
  color: #fff;
}

.aboutContainer img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.textWrapper {
  display: flex;
  justify-content: center;
}

.textWrapper p {
  font-size: 25px;
  color: #fff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.skillsWrapper {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.skillsWrapper h2 {
  font-size: 50px;
  color: #fff;
  text-align: center;
}

.skillIcons {
  display: flex;
  color: #fff;
  flex-direction: row;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  width: 300px;
  font-size: 25px;
}

.products {
  background-image: url("images/img-1.jpg");
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-upWrapper {
  background-image: url("images/img-3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 90vh;
  flex-direction: column;
  align-items: center;
}

.sign-upWrapper h1 {
  color: #fff;
  font-size: 75px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 50vw;
}

label {
  color: #fff;
}

input[type="text"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"]:hover {
  cursor: pointer;
}

input[type="text"]:focus {
  border: 1px solid red;
}
