* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

.home {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.aboutContainer {
  background-image: url("images/img-2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 90vh;
  flex-direction: column;
}

.aboutContainer h1 {
  font-size: 75px;
  color: #fff;
}

.aboutContainer img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.textWrapper {
  display: flex;
  justify-content: center;
}

.textWrapper p {
  font-size: 25px;
  color: #fff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.skillsWrapper {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.skillsWrapper h2 {
  font-size: 50px;
  color: #fff;
  text-align: center;
}

.skillIcons {
  display: flex;
  color: #fff;
  flex-direction: row;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  width: 300px;
  font-size: 25px;
}

.projectsWrapper {
  background-image: url("images/img-1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 90vh;
  flex-direction: column;
  align-items: center;
}

.projectsWrapper h1 {
  color: #fff;
  font-size: 75px;
}

.project1 {
  text-align: center;
  color: #fff;
}

.sign-upWrapper {
  background-image: url("images/img-3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 90vh;
  flex-direction: column;
  align-items: center;
}

.sign-upWrapper h1 {
  color: #fff;
  font-size: 75px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 50vw;
}

.contact-form input[type="text"],
input[type="email"] {
  display: block;
  padding: 4px 8px;
  margin-bottom: 8px;
  border-radius: 3px;
  border: 1px solid #888;
  font-size: 14px;
}

label {
  color: #fff;
}

.contact-form textarea {
  display: block;
  padding: 4px 8px;
  margin-bottom: 8px;
  border-radius: 3px;
  border: 1px solid #888;
  font-size: 14px;
  height: auto;
}

input[type="submit"] {
  background-color: transparent;
  color: #fff;
  padding: 4px 8px;
  border-radius: 3px;
  border: 1px solid #fff;
  margin-top: 8px;
}

input[type="submit"]:hover {
  background: #fff;
  color: #242424;
  transition: all 0.3s ease-out;
  cursor: pointer;
}
